.header,
.footer {
    background-color: $bright-color;
    color: $dark-color;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 60px;
}

.header{
    top: 0;
    z-index: 9;
}

.footer {
    bottom: 0;
}