.main__section {
    .main__imageContainer {
        position: relative;

        .imgContainer {
            position: relative;
            height: 200px;
            width: 100%;

            img {
                width: 50%;
                max-height: 200px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 40px;
            color: $bright-color;
            padding: 20px 0 20px 0;
            cursor: pointer;
        }

        .fa-chevron-left {
            left: 0;
            padding-left: 10px;
        }

        .fa-chevron-right {
            right: 0;
            padding-right: 10px;
        }
    }

    h3 {
        font-size: 20px;

    }
}