.teamInfo__info {
    @include border;


    .teamInfo__imgContainer {
        position: absolute;
        right: 0;
        margin: 2vw;
        width: 20%;

        .teamInfo__img {
            width: 100%;
        }
    }

    .teamInfo__text {
        text-align: left;
        margin: 2vw;
        margin-left: 8vw;

        h2 {
            text-align: center;
            font-size: 18px;
            margin: 5px;
        }

        p {
            margin: 2px;
            font-size: 12px;
        }
    }
}

.teamInfo__players {
    >p {
        font-size: 16px;
        text-transform: uppercase;
        padding: 10px;
        border-top: 3px solid $bright-color;
        border-bottom: 3px solid $bright-color;
    }
}

.playerBar {
    text-align: left;
    border: 1px solid $bright-color;
    padding: 8px;
    font-size: 12px;
    display: block;
    color: white;
    text-decoration: none;

    .playerBar__number {
        margin-left: 40px;
    }

    .playerBar__name {
        display: inline-block;
        margin-left: 20px;
    }
}